@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="mat-blazor-demo-theme-app-row">
    <MatButton Icon="favorite">Text</MatButton>
    <MatButton Raised="true" Icon="favorite">Raised</MatButton>
    <MatButton Unelevated="true" Icon="favorite">Unelevated</MatButton>
    <MatButton Outlined="true" Icon="favorite">Outlined</MatButton>
    <MatButton Dense="true" Icon="favorite">Dense</MatButton>
</div>